*{
  padding: 0px;
margin: 0px;


}

body {
background-color: #6F5060;
text-align: center;
}

.container {
 
  height:70%;
     display: flex;
     justify-content: center;
     

}

.game {

height: 60vmin;
width:60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap:1.5vmin;



}
.box {
   height: 18vmin;
   width: 18vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem rgba(0,0,0,0.5) ;
    font-size: 8vmin; 
    color: rgb(209, 105, 122);
     background-color: antiquewhite;
  
} 
h1 {
  font-size: 50px;
  color: #E7EBC5;
 
  padding-bottom: 10px;
}
#reset {
font-size: 23px;
background-color: black;
color:aliceblue;
border: solid white 4px;
width: 95px;
margin-top: 35px;
text-align: center;
border-radius: 15px;
margin-bottom: 20px;
}
a {
  color: white;
   font-size: 30px;
   
}