#game {
    color: #B5D2E3;
    
    font-size: x-large;
    height: 50px;
    text-align: center;
    padding-bottom: 10px;
   
}
div {
    height: fit-content;
}
.rps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    
   
   }
   body{
    background-color: #4B244A;
   }
   .item img {
    width: 150px;
    height: auto;
   
 }

 h2 {
    background-color: #B5D2E3;
    font-size: 25px;
    text-align: center;
    max-width: fit-content;
    border: #4B244A solid 20px;
    margin-top: 0px;
    
 }
 #btn {
    display: flex;
    justify-content: center;
    align-items: center;
   
 }
 .item:hover {
  opacity: 0.5;
  border:black solid 15px;
 }
 .item{
    border: white solid 1px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    
 }
button {
    background-color: rgb(55, 91, 102);
}
#sc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    height: fit-content;
    
    
}
p {font-size: 35px; 
  margin: 0px;}
#scr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 0px;
    height: fit-content;
    
}
a{
    color:white;
    font-size: 30px;
}
#link {
    display: flex;
    justify-content: center;
    text-align: center;
}
.Score {
    color: rgb(223, 157, 126);
    
}
